h2 {
  text-align: left;
  color: #333;
}

.entrar-containder{
  max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.entrar-button {
  padding: 8px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.entrar-button:hover {
  background-color: #0056b3;
}

.sair-button {
  padding: 8px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.sair-button:hover {
  background-color: #c82333;
}